/*clear the page of padding*/
/* line 2, ../sass/freedomfone.scss */
#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  padding: 0;
}

/*styling of body*/
/* line 7, ../sass/freedomfone.scss */
body {
  font-family: "Lucida Grande", Arial, Verdana, Helvetica, Tahoma, "Bitstream Vera Sans", sans-serif;
  color: #666;
}

tbody {
  border-top: none;
}

td {
	padding: 0 5px; /*edited*/
}
/* line 12, ../sass/freedomfone.scss */
h1, h2, h3, h4, h5 {
  font-family: Arial, Helvetica, Verdana, Lucida Grande, Tahoma, "Bitstream Vera Sans", sans-serif;
}

/* line 15, ../sass/freedomfone.scss */
h1 {
  color: #616161;
  font-size: 2.08333em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

/* line 22, ../sass/freedomfone.scss */
h2 {
  color: #4D4D4D;
  font-size: 1.66666em;
  line-height: 1.2em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}

/* line 29, ../sass/freedomfone.scss */
h3 {
  color: #7A7A7A;
  font-size: 1.33333em;
  line-height: 1.2em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

/* line 36, ../sass/freedomfone.scss */
h4 {
  color: #387084;
  font-size: 1.16666em;
  font-weight: normal;
  line-height: 1.32857em;
  margin-bottom: 0.85714em;
  margin-top: 0.85714em;
}

/* line 44, ../sass/freedomfone.scss */
h5 {
  color: #42829E;
  font-size: 0.91666em;
  line-height: 1.32857em;
  margin-bottom: 1.09091em;
  margin-top: 1.09091em;
  text-transform: uppercase;
}

/* line 52, ../sass/freedomfone.scss */
h6 {
  color: #42829E;
  font-size: 0.91666em;
  line-height: 1.32857em;
  margin-bottom: 1.09091em;
  margin-top: 1.09091em;
}

pre, code {
	font-size: 1.1em;
	font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}

/* line 60, ../sass/freedomfone.scss */
blockquote {
  border-left: 3px solid #DDDDDD;
  color: #666666;
  font-size: 13px;
  line-height: 15px;
  margin: 20px;
  padding-left: 10px;
}

/* line 69, ../sass/freedomfone.scss */
a:link {
  color: #737373;
  text-decoration: none;
}

/* line 73, ../sass/freedomfone.scss */
a:visited {
  color: #737373;
  text-decoration: none;
}

/* line 77, ../sass/freedomfone.scss */
a:hover, a:focus {
  color: #F58431;
  text-decoration: underline;
}

/* line 81, ../sass/freedomfone.scss */
a:active {
  color: #737373;
}

/* line 85, ../sass/freedomfone.scss */
#page {
  color: #666666;
  font-size: 0.75em;
  line-height: 1.333em;
  background: url("../images/main_bg.gif");
}

/* line 92, ../sass/freedomfone.scss */
#header {
  background-image: url("../images/header_bg.gif");
  background-repeat: no-repeat;
}

/* line 97, ../sass/freedomfone.scss */
#header-inner {
  background-image: url("../images/main_bg.gif");
  background-repeat: no-repeat;
  position: relative;
}

/* line 103, ../sass/freedomfone.scss */
#ff-top-nav {
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 78px;
}

/*tabs area*/
/* line 114, ../sass/freedomfone.scss */
#content-inner .tabs.primary li a {
  font-weight: bold;
  text-decoration: none;
  color: #777777;
}
/* line 119, ../sass/freedomfone.scss */
#content-inner .tabs.primary li.active a {
  color: #000;
}
/* line 121, ../sass/freedomfone.scss */
#content-inner .tabs.primary li.active a:hover {
  color: #000;
}
/* line 129, ../sass/freedomfone.scss */
#content-inner .tabs.secondary li.active a {
  color: #fff;
}

/*Styling the buttons*/
/* line 137, ../sass/freedomfone.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  font-size: 11px;
  line-height: 14px;
}

/* line 143, ../sass/freedomfone.scss */
button, input, textarea {
  font-size: 11px;
/* why oh why?  height: 16px; */
}

/* line 147, ../sass/freedomfone.scss */
#main {
  /*background-image: url("../images/main_bg.gif");*/
  margin-top: 3.9em;
  padding-top: 0;
  position: inherit;
}

/* line 154, ../sass/freedomfone.scss */
footer {
  background-image: url("../images/footer_bg.gif");
  background-repeat: no-repeat;
  height: 45px;
  margin-bottom: 30px;
}

/*Custom block styles*/
/* line 162, ../sass/freedomfone.scss */
.home-heading {
  text-align: right;
  margin-right: 48px;
  padding-top: 42px;
}
/* line 166, ../sass/freedomfone.scss */
.home-heading p {
  margin: 0;
}

/*Inside content custom styles*/
/* line 173, ../sass/freedomfone.scss */
.view-interactive-graphic #views_slideshow_pager_field_item_top_interactive_graphic-block_1_0 {
  display: none;
}
/* line 176, ../sass/freedomfone.scss */
.view-interactive-graphic .views-slideshow-controls-top {
  background-image: url("../images/ig_menu_bg.png");
  background-repeat: no-repeat;
  float: left;
  height: 282px;
  width: 96px;
  z-index: 1000;
}
/* line 184, ../sass/freedomfone.scss */
.view-interactive-graphic .views_slideshow_main {
  background-color: #6393AC;
  color: #FFFFFF;
  height: 282px;
  margin-left: 96px;
}
/* line 189, ../sass/freedomfone.scss */
.view-interactive-graphic .views_slideshow_main .views-field-field-slide-description {
  font-size: 0.917em;
  padding: 9px 12px;
}
/* line 194, ../sass/freedomfone.scss */
.view-interactive-graphic #widget_pager_top_interactive_graphic-block_1 {
  background-image: url("../images/horiz_dot_line.png");
  background-position: center top;
  background-repeat: repeat-x;
  font-size: 0.917em;
  margin-top: 17px;
  padding-top: 1px;
  text-transform: uppercase;
}
/* line 203, ../sass/freedomfone.scss */
.view-interactive-graphic .views_slideshow_pager_field_item {
  background-image: url("../images/horiz_dot_line.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  height: 33px;
}

.view-interactive-graphic .views_slideshow_pager_field_item.active {
	background-image: url("../images/arrow_bg.png");
    background-repeat: no-repeat;
	background-position: 0 0;
    color: #FFFFFF;
    cursor: pointer;
}

/* line 208, ../sass/freedomfone.scss */
.view-interactive-graphic .views_slideshow_pager_field_item .views-field-field-slide-title {
  height: 23px;
  margin-top: 2px;
  padding: 7px 0 0 12px;
}
/* line 212, ../sass/freedomfone.scss */
.view-interactive-graphic .views_slideshow_pager_field_item .views-field-field-slide-title:hover {
  background-image: url("../images/arrow_bg.png");
  background-repeat: no-repeat;
  color: #FFFFFF;
  cursor: pointer;
}

/*Front Page Design*/
/* line 224, ../sass/freedomfone.scss */
.front .node-teaser {
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center top;
  background-repeat: repeat-x;
  margin-top: 20px;
  padding-top: 20px;
}
/* line 233, ../sass/freedomfone.scss */
.front .views-row-first .node-page .node-inner, .front .views-row-first .node-story header {
  background-image: url("../images/latest_news.gif");
  background-position: left top;
  background-repeat: no-repeat;
}
/* line 237, ../sass/freedomfone.scss */
.front .views-row-first .node-page .node-inner h2, .front .views-row-first .node-story header h2 {
  padding-top: 42px;
}
/* line 243, ../sass/freedomfone.scss */
.front .node-story .node-title, .front .node-page .node-title {
  font-size: 1.5em;
  line-height: 1.2em;
}
/* line 247, ../sass/freedomfone.scss */
.front .node-story h2.node-title a:visited, .front .node-story h2.node-title a:link, .front .node-page h2.node-title a:visited, .front .node-page h2.node-title a:link {
  color: #F58431;
}
/* line 250, ../sass/freedomfone.scss */
.front .node-story h2.node-title a:hover, .front .node-page h2.node-title a:hover {
  text-decoration: underline;
}
/* line 253, ../sass/freedomfone.scss */
.front .node-story .submitted, .front .node-page .submitted {
  font-size: 0.916em;
  margin-top: 1.5em;
}
/* line 256, ../sass/freedomfone.scss */
.front .node-story .submitted a, .front .node-page .submitted a {
  color: #42829E;
  font-weight: normal !important;
}
/* line 260, ../sass/freedomfone.scss */
.front .node-story ul.links a, .front .node-page ul.links a {
  color: #F58431 !important;
  font-weight: normal !important;
}
/* line 262, ../sass/freedomfone.scss */
.front .node-story ul.links a:hover, .front .node-page ul.links a:hover {
  text-decoration: underline;
}
/* line 267, ../sass/freedomfone.scss */
.front article.node-home {
  background-image: url("../images/horiz_dot_line.png"), url("../images/horiz_dot_line.png");
  background-position: center top, center bottom;
  background-repeat: repeat-x, repeat-x;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 20px 0;
  padding: 10px 0 8px;
}

/*Different types of content have different styles*/
/* line 280, ../sass/freedomfone.scss */
.node-type-page article a:link, .node-type-page article a:visited {
  color: #42829E;
  font-weight: bold;
}

.node-type-users article a:link, .node-type-users article a:visited {
  font-weight: normal;
  color: #42829E;
}

/* line 284, ../sass/freedomfone.scss */
.node-type-page article a:hover, .node-type-page article a:focus, .node-type-users article a:hover, .node-type-users article a:focus {
  color: #F58431;
}

/*Section News Page*/
/* line 344, ../sass/freedomfone.scss */
.section-news {
  /*Latest News Page*/
  /*The teaser body*/
  /*The read more and post comment links*/
  /*The Category links*/
  /*Any other news page*/
}

.section-news #content-inner p img {
/*	border: 1px solid #999; edited*/
}

/* line 347, ../sass/freedomfone.scss */
.section-news .view-header {
  /**Legend addition**/
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center bottom;
  background-repeat: repeat-x;
  color: #616161;
  font-family: Arial,Helvetica,Verdana,Lucida Grande,Tahoma,"Bitstream Vera Sans",sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.7em;
  margin-top: 0;
  padding-bottom: 0.35em;
}
/* line 361, ../sass/freedomfone.scss */
.section-news .view-latest-news .views-row {
  margin-bottom: 14px;
  padding-bottom: 40px;
}
/* line 366, ../sass/freedomfone.scss */
.section-news .view-latest-news .views-field-title h2 {
  color: #4D4D4D;
  font-size: 1.16666em;
  line-height: 1.3em;
  margin-bottom: 0.8em;
  margin-top: 0;
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center top;
  background-repeat: repeat-x;
  padding-top: 14px;
}

.section-news .view-latest-news .views-row-first .views-field-title h2 {
    background: none;
    color: #4D4D4D;
    font-size: 1.16666em;
    line-height: 1.3em;
    margin-bottom: 0.8em;
    margin-top: 0;
    padding-top: 7px; 
}

/* line 376, ../sass/freedomfone.scss */
.section-news .view-latest-news .views-field-title h2:hover {
  color: #F58431;
  text-decoration: underline;
}
/* line 382, ../sass/freedomfone.scss */
.section-news .view-latest-news .views-field-title a:link, .section-news .view-latest-news .views-field-title a:visited {
  color: #4D4D4D;
}
/* line 387, ../sass/freedomfone.scss */
.section-news .view-latest-news .submitted {
  color: #999999;
  font-size: 0.91666em;
  line-height: 1.2em;
}
/* line 316, ../sass/freedomfone.scss */
.section-news .view-latest-news .submitted a:link, .section-news .view-latest-news .submitted a:visited {
  color: #42829E;
}
/* line 392, ../sass/freedomfone.scss */
.section-news .views-field-body .field-content {
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center bottom;
  background-repeat: repeat-x;
  margin-bottom: 0.7em;
  padding-bottom: 0.5em;
}
/* line 394, ../sass/freedomfone.scss */
.section-news .views-field-body .field-content p a {
  font-weight: normal !important;
}
/* line 402, ../sass/freedomfone.scss */
.section-news span.views-field-view-node a:link, .section-news span.views-field-view-node a:visited {
  color: #F58431 !important;
}
/* line 407, ../sass/freedomfone.scss */
.section-news .views-field-comments-link {
  padding: 0 1.6em 0 0;
}
/* line 408, ../sass/freedomfone.scss */
.section-news .views-field-comments-link a {
  font-weight: normal !important;
}
/* line 410, ../sass/freedomfone.scss */
.section-news .views-field-comments-link a:link, .section-news .views-field-comments-link a:visited {
  color: #F58431 !important;
}
/* line 418, ../sass/freedomfone.scss */
.section-news .views-field-taxonomy-vocabulary-1 {
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center top;
  background-repeat: repeat-x;
  margin-top: 0.9em;
  padding-top: 0.9em;
  /*The actual category links*/
}

/* line 424, ../sass/freedomfone.scss */
.section-news .views-field-taxonomy-vocabulary-1 span.views-label {
  font-size: 0.91666em;
  text-transform: uppercase;
  padding-right: 1.6em;
  float: left;
}
/* line 431, ../sass/freedomfone.scss */
.section-news .views-field-taxonomy-vocabulary-1 .field-content {
  float: left;
}
/* line 433, ../sass/freedomfone.scss */
.section-news .views-field-taxonomy-vocabulary-1 .field-content a {
  font-size: 0.91666em;
}
/* line 435, ../sass/freedomfone.scss */
.section-news .views-field-taxonomy-vocabulary-1 .field-content a:link, .section-news .views-field-taxonomy-vocabulary-1 .field-content a:visited {
  color: #42829E;
  text-transform: uppercase;
}
/* line 439, ../sass/freedomfone.scss */
.section-news .views-field-taxonomy-vocabulary-1 .field-content a:hover {
  color: #F58431;
}
/* line 447, ../sass/freedomfone.scss */
.section-news h1#page-title {
  font-family: Arial, Helvetica, Verdana, Lucida Grande, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  /* 12 x 1.5 = 18px */
  line-height: 1.2em;
  color: #616161;
  background-image: url(../images/horiz_dot_line.gif);
  background-position: bottom;
  background-repeat: repeat-x;
  margin-top: 0;
  padding-bottom: 0.35em;
  margin-bottom: 0.7em;
}
/* line 450, ../sass/freedomfone.scss */
.section-news h2.node-title {
  font-size: 1.16666em;
  /* 12 x 1.83333 = 14px */
  line-height: 1.3em;
  color: #4D4D4D;
  margin-top: 0;
  margin-bottom: 0.8em;
}

.section-news h2.node-title a:visited, .section-news h2.node-title a:link {
	color: #4D4D4D;
}

.section-news h2.node-title a:hover {
	color: #F58431;
}

/* line 453, ../sass/freedomfone.scss */
.section-news .submitted {
  color: #999999;
  font-size: 0.91666em;
  line-height: 1.2em;
}
/* line 316, ../sass/freedomfone.scss */
.section-news .submitted a:link, .section-news .submitted a:visited {
  color: #42829E;
  font-weight: normal !important;
}
/* line 456, ../sass/freedomfone.scss */
.section-news article.node-teaser .field-name-body .field-item {
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center bottom;
  background-repeat: repeat-x;
  margin-bottom: 0.7em;
  padding-bottom: 0.5em;
}

.section-news article.node-teaser .field-name-body p a:link {
	font-weight: normal !important;
}

/* line 459, ../sass/freedomfone.scss */
.section-news .node ul.links {
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center bottom;
  background-repeat: repeat-x;
  display: block;
  margin-bottom: 0.9em;
  padding-bottom: 0.9em;
  /*We increase the padding as a hack*/
  padding-bottom: 2.2em;
}
/* line 464, ../sass/freedomfone.scss */
.section-news .node ul.links a:link, .section-news .node ul.links a:visited {
  color: #F58431 !important;
  font-weight: normal !important;
}
/* line 467, ../sass/freedomfone.scss */
.section-news .node ul.links a:hover {
  color: #F58431;
}
/* line 473, ../sass/freedomfone.scss */
.section-news ul.pager a {
  font-weight: normal !important;
}
/* line 477, ../sass/freedomfone.scss */
.section-news article.node-teaser {
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center bottom;
  background-repeat: repeat-x;
  margin-bottom: 14px;
  padding-bottom: 40px;
}
/* line 486, ../sass/freedomfone.scss */
.section-news .view-updates article.node-teaser {
  background-image: none;
  padding-bottom: 0;
}
/* line 490, ../sass/freedomfone.scss */
.section-news .view-updates p a {
  font-weight: normal !important;
}

/*Section news section*/
/* line 498, ../sass/freedomfone.scss */
.section-search #page-title {
  display: none;
}
/* line 502, ../sass/freedomfone.scss */
.section-search fieldset.search-advanced {
  display: none;
}
/* line 505, ../sass/freedomfone.scss */
.section-search ol.search-results {
  padding: 0;
}
/* line 508, ../sass/freedomfone.scss */
.section-search .search-results .search-snippet-info {
  padding-left: 0;
}
/* line 511, ../sass/freedomfone.scss */
.section-search .form-item label {
  color: #999999;
  padding-bottom: 0.5em;
}
/* line 517, ../sass/freedomfone.scss */
.section-search h3.title {
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center top;
  background-repeat: repeat-x;
  color: #42829E;
  font-family: Arial, Helvetica, Verdana, Lucida Grande, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.7em;
  margin-top: 18px;
  padding-bottom: 0.35em;
  padding-top: 18px;
}
/* line 531, ../sass/freedomfone.scss */
.section-search p a.username {
  font-weight: normal !important;
}
/* line 535, ../sass/freedomfone.scss */
.section-search .form-submit, .section-advanced-search .form-submit {
  background-color: #F58431;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  padding-left: 13px;
  padding-right: 11px;
}
/* line 546, ../sass/freedomfone.scss */
.section-search .search-info {
  color: #999999;
  font-size: 0.85em;
}
/* line 551, ../sass/freedomfone.scss */
.section-search .finder-block {
  background: #f2f0ca;
  padding-left: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 556, ../sass/freedomfone.scss */
.section-search .finder-block fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
/* line 560, ../sass/freedomfone.scss */
.section-search .finder-block fieldset legend {
  padding-top: 5px;
}
/* line 564, ../sass/freedomfone.scss */
.section-search .finder-block fieldset .finder-element-keywords {
  width: 90%;
}
/* line 568, ../sass/freedomfone.scss */
.section-search .finder-block fieldset .form-item-cat {
  margin-bottom: 0.8em;
}
/* line 570, ../sass/freedomfone.scss */
.section-search .finder-block fieldset .form-item-cat select {
  width: 90%;
}
/* line 575, ../sass/freedomfone.scss */
.section-search .finder-block .form-item label {
  color: #666;
  padding-bottom: 0.5em;
}

/* line 583, ../sass/freedomfone.scss */
.section-advanced-search h1#page-title {
  color: #4D4D4D;
  font-size: 1.66666em;
  line-height: 1.2em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
/* line 591, ../sass/freedomfone.scss */
.section-advanced-search .finder-block {
  background: #f2f0ca;
  padding-left: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 596, ../sass/freedomfone.scss */
.section-advanced-search .finder-block fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
/* line 600, ../sass/freedomfone.scss */
.section-advanced-search .finder-block fieldset legend {
  padding-top: 5px;
}
/* line 604, ../sass/freedomfone.scss */
.section-advanced-search .finder-block fieldset .finder-element-keywords {
  width: 90%;
}
/* line 608, ../sass/freedomfone.scss */
.section-advanced-search .finder-block fieldset .form-item-cat {
  margin-bottom: 0.8em;
}
/* line 610, ../sass/freedomfone.scss */
.section-advanced-search .finder-block fieldset .form-item-cat select {
  width: 90%;
}
/* line 615, ../sass/freedomfone.scss */
.section-advanced-search .finder-block .form-item label {
  color: #666;
  padding-bottom: 0.5em;
}

/*New Search Styling*/
/* line 625, ../sass/freedomfone.scss */
.lookup .views-exposed-widget {
  clear: both;
  width: 100%;
}
/* line 629, ../sass/freedomfone.scss */
.lookup .views-submit-button {
  clear: both;
  width: 100%;
}
/* line 633, ../sass/freedomfone.scss */
.lookup label {
  color: #999999;
  padding-bottom: 0.5em;
}
/* line 637, ../sass/freedomfone.scss */
.lookup .views-field-title {
  font-family: Arial, Helvetica, Verdana, Lucida Grande, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-weight: bold;
  color: #42829E;
  margin-top: 0;
  background-image: url(../images/horiz_dot_line.gif);
  background-position: top;
  background-repeat: repeat-x;
  padding-top: 18px;
  margin-top: 18px;
  padding-bottom: 0.35em;
  margin-bottom: 0.7em;
}

.lookup p a {
	font-weight: normal !important;
}

/*second generation of search powered by search api styling*/
.view-clone-of-advanced-search-x2 h3.title {
  background-image: url("../images/horiz_dot_line.gif");
  background-position: center top;
  background-repeat: repeat-x;
  color: #42829E;
  font-family: Arial, Helvetica, Verdana, Lucida Grande, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.7em;
  margin-top: 18px;
  padding-bottom: 0.35em;
  padding-top: 18px;
}

.view-clone-of-advanced-search-x2 h3.title a {
  color: #42829E;
  text-decoration: none;
  font-weight: bold;
}

.view-clone-of-advanced-search-x2 p.search-info {
  color: #999999;
  font-size: 0.85em;
}

.view-clone-of-advanced-search-x2 p.search-info a {
  font-weight: normal !important;
}

/* line 649, ../sass/freedomfone.scss */
.lookup .views-field-title a:link {
  color: #42829E;
}
/* line 652, ../sass/freedomfone.scss */
.lookup .views-field-title a:hover {
  color: #F58431;
}
/* line 656, ../sass/freedomfone.scss */
.lookup p.lookup-info {
  font-size: 0.91666em;
  color: #999999;
}
/* line 659, ../sass/freedomfone.scss */
.lookup p.lookup-info a.username {
  color: #42829E;
  font-weight: normal !important; /*edited*/
}
/* line 661, ../sass/freedomfone.scss */
.lookup p.lookup-info a.username:hover {
  color: #F58431;
  font-weight: normal !important; /*edited*/
}

/*This is a display of all news items on a taxonomy page, not using views*/
/* line 670, ../sass/freedomfone.scss */
.page-news-archives.section-news .free-nodelinks ul.links, .page-taxonomy-term.section-news .free-nodelinks ul.links, .page-news-authors.section-news .free-nodelinks ul.links {
  padding-bottom: 1em;
  padding-left: 0 !important;
}
/* line 672, ../sass/freedomfone.scss */
.page-news-archives.section-news .free-nodelinks ul.links li a:visited, .page-news-archives.section-news .free-nodelinks ul.links li a:link, .page-taxonomy-term.section-news .free-nodelinks ul.links li a:visited, .page-taxonomy-term.section-news .free-nodelinks ul.links li a:link, .page-news-authors.section-news .free-nodelinks ul.links li a:visited, .page-news-authors.section-news .free-nodelinks ul.links li a:link {
  color: #F58431 !important;
}
/* line 679, ../sass/freedomfone.scss */
.page-news-archives.section-news .field-name-taxonomy-vocabulary-1 .field-label, .page-taxonomy-term.section-news .field-name-taxonomy-vocabulary-1 .field-label, .page-news-authors.section-news .field-name-taxonomy-vocabulary-1 .field-label {
  float: left;
  font-size: 0.91666em;
  padding-right: 1.6em;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 686, ../sass/freedomfone.scss */
.page-news-archives.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item, .page-taxonomy-term.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item, .page-news-authors.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item {
  float: left;
  padding: 0 1.6em 0 0;
}
/* line 689, ../sass/freedomfone.scss */
.page-news-archives.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:link, .page-news-archives.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:visited, .page-taxonomy-term.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:link, .page-taxonomy-term.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:visited, .page-news-authors.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:link, .page-news-authors.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:visited {
  color: #42829E;
  text-transform: uppercase;
  font-size: 0.91666em;
}
/* line 693, ../sass/freedomfone.scss */
.page-news-archives.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:hover, .page-taxonomy-term.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:hover, .page-news-authors.section-news .field-name-taxonomy-vocabulary-1 .field-items .field-item a:hover {
  color: #F58431;
}
/* line 699, ../sass/freedomfone.scss */
.page-news-archives.section-news p.submitted a.username, .page-taxonomy-term.section-news p.submitted a.username, .page-news-authors.section-news p.submitted a.username {
  font-weight: normal;
}

/*Node links also need to be well aligned on news archive pages*/
/*----------------------------------
CONTENT PAGES
------------------------------------*/
/* line 746, ../sass/freedomfone.scss */
.node-type-story #content-inner p.submitted a {
  font-weight: normal;
}
/* line 713, ../sass/freedomfone.scss */
.node-type-story #content-inner p a:link, .node-type-story #content-inner p a:visited {
  color: #42829E;
}
/* line 716, ../sass/freedomfone.scss */
.node-type-story #content-inner p a:hover {
  color: #F58431;
}
/* line 750, ../sass/freedomfone.scss */
.node-type-story #content-inner p a {
  font-weight: bold;
}
/* line 722, ../sass/freedomfone.scss */
.node-type-story .service-links {
  margin: 13px 0;
  text-align: center;
}
/* line 725, ../sass/freedomfone.scss */
.node-type-story .service-links ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 1.6em 0 0;
}
/* line 756, ../sass/freedomfone.scss */
.node-type-story.section-news .field-name-taxonomy-vocabulary-1 {
  float: left;
  position: relative;
  top: -38px;
}
/* line 761, ../sass/freedomfone.scss */
.node-type-story .field-name-taxonomy-vocabulary-1 .field-label {
  font-size: 0.91666em;
  text-transform: uppercase;
  padding-right: 1.6em;
  float: left;
}
/* line 767, ../sass/freedomfone.scss */
.node-type-story .field-name-taxonomy-vocabulary-1 .field-items {
  float: left;
}
/* line 769, ../sass/freedomfone.scss */
.node-type-story .field-name-taxonomy-vocabulary-1 .field-items .field-item {
  display: inline;
  list-style-type: none;
  padding: 0 1.6em 0 0;
}
/* line 773, ../sass/freedomfone.scss */
.node-type-story .field-name-taxonomy-vocabulary-1 .field-items .field-item a {
  text-transform: uppercase;
  color: #42829E;
  font-size: 0.91666em;
}
/* line 777, ../sass/freedomfone.scss */
.node-type-story .field-name-taxonomy-vocabulary-1 .field-items .field-item a:hover {
  color: #F58431;
}
/* line 784, ../sass/freedomfone.scss */
.node-type-story .node ul.links {
  /*We increase the padding as a hack*/
  padding-bottom: 2.2em;
}
/* line 788, ../sass/freedomfone.scss */
.node-type-story .free-nodelinks ul li.comment-add {
  float: right;
}

/*Users Page*/
/* line 795, ../sass/freedomfone.scss */
#completed {
  background: #FF776B;
  float: left;
  color: white;
  padding: 2px;
  width: 8em;
  font-weight: bold;
  margin: 0 0 6px 0;
}

/* line 805, ../sass/freedomfone.scss */
#running {
  background: #67cc02;
  float: left;
  color: white;
  padding: 2px;
  width: 8em;
  font-weight: bold;
  margin: 0 4px 6px 0;
}

/* line 815, ../sass/freedomfone.scss */
#suspended {
  background: #fe9902;
  float: left;
  color: white;
  padding: 2px;
  width: 8em;
  font-weight: bold;
  margin: 0 4px 6px 0;
}

/* line 825, ../sass/freedomfone.scss */
.pane-deployments {
  float: left;
  clear: both;
  width: 100%;
}
/* line 829, ../sass/freedomfone.scss */
.pane-deployments h2 {
  color: #4D4D4D;
  font-size: 1.66666em;
  line-height: 1.2em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}

/* line 838, ../sass/freedomfone.scss */
#mapkey {
  overflow: hidden;
  float: right;
}

/* line 843, ../sass/freedomfone.scss */
#mapkey h2 {
  text-align: right;
  display: none;
}

/* line 848, ../sass/freedomfone.scss */
.view-Deployments {
  float: left;
  margin: 0 1em 1em 0;
  width: 100%;
  /*Theming the users table*/
}
/* line 852, ../sass/freedomfone.scss */
.view-Deployments .views-exposed-widgets {
  width: 100%;
  overflow: hidden;
}
/* line 855, ../sass/freedomfone.scss */
.view-Deployments .views-exposed-form .views-exposed-widget {
  float: left;
  /*padding: 0.5em 4em 0 0;*/
  width: 18%;
}
/* line 858, ../sass/freedomfone.scss */
.view-Deployments .views-exposed-form .views-exposed-widget.views-submit-button {
  float: right;
  /*padding: 0.5em 0 0 0;*/
  text-align: right;
  /*Theming the actual button*/
  bottom: -3px;
  position: relative;
}
/* line 862, ../sass/freedomfone.scss */
.view-Deployments .views-exposed-form .views-exposed-widget.views-submit-button .form-submit {
	background-color: #F58431;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	margin-top: 1.1em;
	padding: 0px 11px 0px 13px;
	height: 22px;
}
/* line 875, ../sass/freedomfone.scss */
.view-Deployments .views-table {
  width: 100%;
}
/* line 879, ../sass/freedomfone.scss */
.view-Deployments .views-field-field-link {
  text-align: center;
}

/* line 885, ../sass/freedomfone.scss */
#Running {
  background: url("../../../modules/gmap/markers/small/green.png") no-repeat scroll center 0 transparent;
  padding: 3px;
  margin-left: 2px;
}

/* line 891, ../sass/freedomfone.scss */
#Suspended {
  background: url("../../../modules/gmap/markers/small/orange.png") no-repeat scroll center 0 transparent;
  padding: 3px;
  margin-left: 2px;
}

/* line 897, ../sass/freedomfone.scss */
#Completed {
  background: url("../../../modules/gmap/markers/small/red.png") no-repeat scroll center 0 transparent;
  padding: 3px;
  margin-left: 2px;
}

/* line 903, ../sass/freedomfone.scss */
th.views-field-name {
  text-align: center;
}

/* line 907, ../sass/freedomfone.scss */
.view-Deployments .view-header {
  margin-bottom: 15px;
}

/* line 911, ../sass/freedomfone.scss */
.view-Deployments .view-header {
  margin-bottom: 15px;
}

/* line 915, ../sass/freedomfone.scss */
.view-Deployments .view-header a:link, .view-Deployments .view-header a:visited {
  color: #42829E;
}

/* line 919, ../sass/freedomfone.scss */
.view-Deployments .view-header a:hover {
  color: #F58431;
}

/*Individual User Pages*/
/* line 926, ../sass/freedomfone.scss */
.node-type-users p.submitted {
  font-style: italic;
  margin: 1em 0;
}
/* line 931, ../sass/freedomfone.scss */
.node-type-users .field-name-field-video {
  text-align: center;
}

/* line 941, ../sass/freedomfone.scss */
.page-user #content-inner .profile .field-label {
  font-weight: bold;
  margin: 0 0 0.2em;
}
/* line 945, ../sass/freedomfone.scss */
.page-user #content-inner .profile .field-item {
  margin: 0 0 1em;
}

/* line 956, ../sass/freedomfone.scss */
.page-node-add-users .form-field-name-field-video a.button.launcher, .page-node-add-users .form-field-name-field-video a.button.remove {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
}
/* line 963, ../sass/freedomfone.scss */
.page-node-add-users .form-item-field-sector-und select {
  height: 11.6em;
}

.page-node-add-users #field-link-add-more-wrapper .form-item {
	margin-top: 0;
}

/* line 969, ../sass/freedomfone.scss */
form#webform-client-form-164 p {
  border-bottom: 1px solid #DDDDDD;
  font-size: 120%;
  margin: 30px 0 15px;
  padding-bottom: 4px;
  width: 84%;
}
/* line 976, ../sass/freedomfone.scss */
form#webform-client-form-164 .form-item label.option {
  position: relative;
  top: 1px;
}

/* line 983, ../sass/freedomfone.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.4em 0;
}

/*Gmap Popup*/
.gmap-popup a:link, .gmap-popup a:visited {
	color: #42829E;
}

.gmap-popup a:hover {
	color: #F58431;
}

/*Late hacks*/
.page-taxonomy-term #content-inner article p a:link, .page-taxonomy-term #content-inner article p a:visited,
.page-taxonomy-term #content-inner li a:link, .page-taxonomy-term #content-inner li a:visited {
	font-weight: normal;
}

.page-node-add-story select#edit-taxonomy-vocabulary-1-und, .page-node-edit select#edit-taxonomy-vocabulary-1-und {
	height: 11.7em;
}

/*Edited, it puts all file attachment uplaod buttons on the right of the form */
#edit-upload-und-0-upload-button {
	float: right;
}

.loginlogout {
	clear: both;
    float: right;
    margin: 0;
    padding: 1.35em 10px;
    text-transform: none;
}

/*Editor Styles -- Edited*/
.cke_skin_kama *, .cke_skin_kama a:hover, .cke_skin_kama a:link, .cke_skin_kama a:visited, .cke_skin_kama a:active {
	white-space: normal !important;
}

/*Author pages*/
#content-inner .view-news-authors li a {
	font-weight: normal;
}

#content-inner article.view-mode-full ul {
	padding-left: 2em;
}

#content-inner article ul ul {
	margin-top: 0;
}

.front #content-inner p a:link, .front #content-inner p a:visited {
	font-weight: normal;
}

.field-label-inline .field-label, .field-label-inline .field-items {
	float: none;
	display: inline;
}


a#edit-cancel{
	-webkit-align-items: flex-start;
	text-align: center;
	cursor: pointer;
	color: buttontext;
	padding: 1px 6px 2px;
	border: 1px solid #999;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color:rgb(240, 240, 240);
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 11px;
}

a#edit-cancel:hover {
	text-decoration: none;
}

/*This is on the page confirmation page after submission of support request.*/
.page-node-165 .links a {
	color: #F58431;
}

page-node-done .links a, .page-node-done .links a:hover, .page-node-done .links a:visited {
	color: #42829E;
}

/*custom styles to fix map bubbles*/
.gm-style-iw{
overflow:hidden !important;
}

.gm-style-iw > div {
overflow:hidden !important;
}

.page-node-109 #page-title {
margin-bottom: 1em;
}






