/*clear the page of padding*/
#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
	padding: 0;
}

/*styling of body*/
body {
	font-family: "Lucida Grande", Arial, Verdana, Helvetica, Tahoma, "Bitstream Vera Sans", sans-serif;
	color: #666;
}

h1, h2, h3, h4, h5 {
    font-family: Arial,Helvetica,Verdana,Lucida Grande,Tahoma,"Bitstream Vera Sans",sans-serif;
}
h1 {
    color: #616161;
    font-size: 2.08333em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0;
}
h2 {
    color: #4D4D4D;
    font-size: 1.66666em;
    line-height: 1.2em;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}
h3 {
    color: #7A7A7A;
    font-size: 1.33333em;
    line-height: 1.2em;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}
h4 {
    color: #387084;
    font-size: 1.16666em;
    font-weight: normal;
    line-height: 1.32857em;
    margin-bottom: 0.85714em;
    margin-top: 0.85714em;
}
h5 {
    color: #42829E;
    font-size: 0.91666em;
    line-height: 1.32857em;
    margin-bottom: 1.09091em;
    margin-top: 1.09091em;
    text-transform: uppercase;
}
h6 {
    color: #42829E;
    font-size: 0.91666em;
    line-height: 1.32857em;
    margin-bottom: 1.09091em;
    margin-top: 1.09091em;
}

blockquote {
    border-left: 3px solid #DDDDDD;
    color: #666666;
    font-size: 13px;
    line-height: 15px;
    margin: 20px;
    padding-left: 10px;
}

a:link {
    color: #737373;
    text-decoration: none;
}
a:visited {
    color: #737373;
    text-decoration: none;
}
a:hover, a:focus {
    color: #F58431;
    text-decoration: underline;
}
a:active {
    color: #737373;
}

#page {
    color: #666666;
    font-size: 0.75em;
    line-height: 1.333em;
	background: url("../images/main_bg.gif");
}

#header {
	background-image: url("../images/header_bg.gif");
	background-repeat: no-repeat;
}

#header-inner {
    background-image: url("../images/main_bg.gif");
    background-repeat: no-repeat;
    position: relative;
}

#ff-top-nav {
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 78px;
}

/*tabs area*/
#content-inner { 
	.tabs.primary {
		li {
			a {
				font-weight: bold;
				text-decoration: none;
				color: #777777;
			}
			&.active a {
				color: #000;
				&:hover {
					color: #000;
				}
			}	
		}
	}
	.tabs.secondary {
		li {
			&.active a {
				color: #fff;
			}
		}
	}
}

/*Styling the buttons*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	font-size: 11px;
	line-height: 14px;
}

button, input {
	font-size: 11px;
}

#main {
    /*background-image: url("../images/main_bg.gif");*/
	margin-top: 3.9em;
	padding-top: 0;
	position: inherit;
}

footer {
    background-image: url("../images/footer_bg.gif");
    background-repeat: no-repeat;
    height: 45px;
    margin-bottom: 30px;
}

/*Custom block styles*/
.home-heading {
    text-align: right;
	margin-right: 48px;
	padding-top: 42px;
	p {
		margin: 0;
	}
}

/*Inside content custom styles*/
.view-interactive-graphic {
	#views_slideshow_pager_field_item_top_interactive_graphic-block_1_0 {
		display: none;
	}
	.views-slideshow-controls-top {
		background-image: url("../images/ig_menu_bg.png");
		background-repeat: no-repeat;
		float: left;
		height: 282px;
		width: 96px;
		z-index: 1000;
	}
	.views_slideshow_main {
		background-color: #6393AC;
		color: #FFFFFF;
		height: 282px;
		margin-left: 96px;
		.views-field-field-slide-description {
			font-size: 0.917em;
		    padding: 9px 12px;
		}
	}
	#widget_pager_top_interactive_graphic-block_1 {
	    background-image: url("../images/horiz_dot_line.png");
	    background-position: center top;
	    background-repeat: repeat-x;
	    font-size: 0.917em;
	    margin-top: 17px;
	    padding-top: 1px;
	    text-transform: uppercase;
	}
	.views_slideshow_pager_field_item {
	    background-image: url("../images/horiz_dot_line.png");
	    background-position: center bottom;
	    background-repeat: repeat-x;
	    height: 33px;
		&.active {
			background-image: url("../images/arrow_bg.png");
		    background-repeat: no-repeat;
			background-position: 0 0;
		    color: #FFFFFF;
		    cursor: pointer;
		}
		.views-field-field-slide-title {
		    height: 23px;
		    margin-top: 2px;
		    padding: 7px 0 0 12px;
			&:hover {
				background-image: url("../images/arrow_bg.png");
			    background-repeat: no-repeat;
			    color: #FFFFFF;
			    cursor: pointer;
			}
		}
	}
}

/*Front Page Design*/
.front {
	.node-teaser {
    background-image: url("../images/horiz_dot_line.gif");
    background-position: center top;
    background-repeat: repeat-x;
    margin-top: 20px;
    padding-top: 20px;
	}

 	.views-row-first {
		.node-page .node-inner, .node-story header {
			background-image: url("../images/latest_news.gif");
			background-position: left top;
			background-repeat: no-repeat;
			h2 {
				padding-top: 42px;
			}
		}
	}
	.node-story, .node-page {
		.node-title{
			font-size: 1.5em;
			line-height: 1.2em;
		}
		h2.node-title a:visited, h2.node-title a:link {
			color: #F58431;
		}
		h2.node-title a:hover {
			text-decoration: underline;
		}
		.submitted {
			font-size: 0.916em;
		    margin-top: 1.5em;
			a {
				color:#42829E;
			}
		}
		ul.links a {
			color: #F58431 !important;
			&:hover {
				text-decoration: underline;
			}
		}
	}
 	article.node-home {
		background-image: url("../images/horiz_dot_line.png"), url("../images/horiz_dot_line.png");
	    background-position: center top, center bottom;
	    background-repeat: repeat-x, repeat-x;
	    font-size: 1.25em;
	    line-height: 1.2em;
	    margin: 20px 0;
	    padding: 10px 0 8px;
	}
}

/*Different types of content have different styles*/
@mixin user-page-links {
	a:link, a:visited {
		color: #42829E;
		font-weight: bold;
	}
	a:hover, a:focus {
		color: #F58431;
	}
}

@mixin news-search-content-h1 {
		font-family: Arial, Helvetica, Verdana, Lucida Grande, Tahoma, "Bitstream Vera Sans", sans-serif;
		font-weight: bold;
		font-size: 1.5em; /* 12 x 1.5 = 18px */
    	line-height: 1.2em;
		color: #616161;
		background-image: url(../images/horiz_dot_line.gif);
		background-position: bottom;
		background-repeat: repeat-x;
		margin-top: 0;
		padding-bottom: 0.35em;
    	margin-bottom: 0.7em;
}

@mixin news-search-comment-h2 {
		font-size: 1.16666em; /* 12 x 1.83333 = 14px */
        line-height: 1.3em;
		color: #4D4D4D;
		margin-top: 0;
        margin-bottom: 0.8em;
}

@mixin news-comment-submitted {
	color: #999999;
	font-size: 0.91666em;
	line-height: 1.2em;
	a {
		&:link, &:visited {
			color: #42829E;
		}
	}
}

@mixin teaser-body {
	background-image: url("../images/horiz_dot_line.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    margin-bottom: 0.7em;
    padding-bottom: 0.5em;
}

@mixin news-comment-read-more {
	background-image: url("../images/horiz_dot_line.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    display: block;
    margin-bottom: 0.9em;
    padding-bottom: 0.9em;
}

.node-type-page article, .node-type-users article {
	@include user-page-links;
} 

/*Section News Page*/
.section-news {
	
	/*Latest News Page*/
	.view-header {
	//	background-image: url("../images/horiz_dot_line.gif");
	//	background-position: center bottom;
	//	background-repeat: repeat-x;
		color: #616161;
		font-family: Arial,Helvetica,Verdana,Lucida Grande,Tahoma,"Bitstream Vera Sans",sans-serif;
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1.2em;
	//	margin-bottom: 0.7em;
		margin-top: 0;
		padding-bottom: 0.35em;
	}
	.view-latest-news {
		.views-row {
			margin-bottom: 14px;
		    padding-bottom: 40px;
		}
		.views-field-title {
			h2 {
				color: #4D4D4D;
				font-size: 1.16666em;
				line-height: 1.3em;
				margin-bottom: 0.8em;
				margin-top: 0;
				background-image: url("../images/horiz_dot_line.gif");
				background-position: center top;
				background-repeat: repeat-x;
				padding-top: 14px;
				&:hover {
					color: #F58431;
					text-decoration: underline;
				}
			}
			a {
				&:link, &:visited {
					color: #4D4D4D;
				}
			}
		}
		.submitted {
			@include news-comment-submitted;
		}
	}
	/*The teaser body*/
	.views-field-body .field-content {
		@include teaser-body;
		p a {
			font-weight: normal !important;
		}
	}
	
	/*The read more and post comment links*/
	span.views-field-view-node {
		a {
			&:link, &:visited {
				color: #F58431 !important;
			}
		}
	}
	.views-field-comments-link {
			a {
				font-weight: normal !important;
				&:link, &:visited {
					color: #F58431 !important;
				}
			}
		padding: 0 1.6em 0 0;
	}
	
	/*The Category links*/
	.views-field-taxonomy-vocabulary-1 {
		background-image: url("../images/horiz_dot_line.gif");
	    background-position: center top;
	    background-repeat: repeat-x;
	    margin-top: 0.9em;
	    padding-top: 0.9em;
		span.views-label {
			font-size: 0.91666em;
		    text-transform: uppercase;
			padding-right: 1.6em;
			float: left;
		}
		/*The actual category links*/
		.field-content {
			float: left;
			a {
				font-size: 0.91666em;
				&:link, &:visited {
					color: #42829E;
					text-transform: uppercase;
				}
				&:hover {
					color: #F58431;
				}
			}
		}
	} //End of latest news page
	
	/*Any other news page*/
	h1#page-title {
		@include news-search-content-h1;
	}
	h2.node-title {
		@include news-search-comment-h2;
	}
	.submitted {
		@include news-comment-submitted;
	}
	article.node-teaser .field-name-body .field-item {
		@include teaser-body;
	}
	.node ul.links {
		@include news-comment-read-more;
		/*We increase the padding as a hack*/
		padding-bottom: 2.2em;
		a {
			&:link, &:visited {
				color: #F58431 !important;
			}
			&:hover {
				color: #F58431;
			}
		}
	}
	ul.pager {
		a {
			font-weight: normal !important;
		}
	}
	article.node-teaser {
		background-image: url("../images/horiz_dot_line.gif");
	    background-position: center bottom;
	    background-repeat: repeat-x;
	    margin-bottom: 14px;
	    padding-bottom: 40px;
	}
	//At the bottom of the normal news section, there is an additional piece of info
	.view-updates {
		article.node-teaser {
			background-image: none;
			padding-bottom: 0;
		}
		p a {
			font-weight: normal !important;
		}
	}
}

/*Section news section*/
.section-search {
	#page-title {
		display: none;
	}
	//Hide core node form advanced elements on search page
	fieldset.search-advanced {
		display: none;
	}
	ol.search-results {
		padding: 0;
	}
	.search-results .search-snippet-info {
	    padding-left: 0;
	}
	.form-item label {
	    color: #999999;
	    padding-bottom: 0.5em;
	   // display: block;
	   // font-weight: bold;
	}
	h3.title {
		background-image: url("../images/horiz_dot_line.gif");
		background-position: center top;
		background-repeat: repeat-x;
		color: #42829E;
		font-family: Arial,Helvetica,Verdana,Lucida Grande,Tahoma,"Bitstream Vera Sans",sans-serif;
		font-weight: bold;
		font-size: 1.1em;
		margin-bottom: 0.7em;
		margin-top: 18px;
		padding-bottom: 0.35em;
		padding-top: 18px;
	}
	p {
		a.username {
			font-weight: normal !important;
		}
	}
	.form-submit  {
	    background-color: #F58431;
	    border: medium none;
	    color: #FFFFFF;
	    cursor: pointer;
	    font-weight: bold;
	    height: 25px;
	    //padding-bottom: 3px;
	    padding-left: 13px;
	    padding-right: 11px;
	}
	.search-info {
	    color: #999999;
	    font-size: 0.85em;
	}
	//On the right side of page, we have a finder block...
	.finder-block {
		background: #f2f0ca;
		padding-left: 12px;
		padding-top: 3px;
		padding-bottom: 3px;
		fieldset {
		    border: 0 none;
		    margin: 0;
		    padding: 0;
			legend {
				padding-top: 5px;
			}
			//Keyword field 
			.finder-element-keywords {
				width: 90%;
			}
			//last category item...
			.form-item-cat {
				margin-bottom: 0.8em;
				select {
					width: 90%;
				}
			}
		}
		.form-item label {
		    color: #666;
		    padding-bottom: 0.5em;
		}
	}
}

.section-advanced-search {
	h1#page-title {
		color: #4D4D4D;
		font-size: 1.66666em;
		line-height: 1.2em;
		margin-bottom: 0.6em;
		margin-top: 0.6em;
	}
	//On the right side of page, we have a finder block...
	.finder-block {
		background: #f2f0ca;
		padding-left: 12px;
		padding-top: 3px;
		padding-bottom: 3px;
		fieldset {
		    border: 0 none;
		    margin: 0;
		    padding: 0;
			legend {
				padding-top: 5px;
			}
			//Keyword field 
			.finder-element-keywords {
				width: 90%;
			}
			//last category item...
			.form-item-cat {
				margin-bottom: 0.8em;
				select {
					width: 90%;
				}
			}
		}
		.form-item label {
		    color: #666;
		    padding-bottom: 0.5em;
		}
	}
}

//Advanced search styling
/*New Search Styling*/
.lookup {
	.views-exposed-widget {
		clear: both;
		width: 100%;
	}
	.views-submit-button {
		clear: both;
		width: 100%;
	}
	label {
		color: #999999;
		padding-bottom: 0.5em;
	}
	.views-field-title {
		font-family: Arial, Helvetica, Verdana, Lucida Grande, Tahoma, "Bitstream Vera Sans", sans-serif;
		font-weight: bold;
		color: #42829E;
		margin-top: 0;
		background-image: url(../images/horiz_dot_line.gif);
		background-position: top;
		background-repeat: repeat-x;
		padding-top: 18px;
		margin-top: 18px;
		padding-bottom: 0.35em;
		margin-bottom: 0.7em;
		a:link {
			color: #42829E;
		}
		a:hover {
			color: #F58431;
		}
	}
	p.lookup-info {
		font-size: 0.91666em;
		color: #999999;
		a.username {
			color: #42829E;
			&:hover {
				color: #F58431;
			}
		}
	}
}

/*This is a display of all news items on a taxonomy page, not using views*/
.page-news-archives.section-news, .page-taxonomy-term.section-news, .page-news-authors.section-news {
	.free-nodelinks ul.links {
		li {
			a:visited, a:link {
			 color: #F58431 !important;
			}
		}
		padding-bottom: 1em;
	}
	.field-name-taxonomy-vocabulary-1 {
	 .field-label {
		float: left;
	    font-size: 0.91666em;
	    padding-right: 1.6em;
	    text-transform: uppercase;
		font-weight: normal;
	 }
	 .field-items .field-item {
		float: left;
		padding: 0 1.6em 0 0;
		a:link, a:visited {
			color: #42829E;
			text-transform: uppercase;
		}
		a:hover {
			color: #F58431;
		}
	 }
	}
	p.submitted {
		a.username {
			font-weight: normal;
		}
	}
}

/*Node links also need to be well aligned on news archive pages*/


/*----------------------------------
CONTENT PAGES
------------------------------------*/

@mixin content-blue-links-orange-hover {
	a:link, a:visited {
		color: #42829E;
	}
	a:hover {
		color: #F58431;
	}
}

@mixin social-media-links {
	.service-links {
	    margin: 13px 0;
	    text-align: center;
		ul.links li {
		    display: inline;
		    list-style-type: none;
		    padding: 0 1.6em 0 0;
		}
	}
}

@mixin story-comment-node-links {
	background-image: none;
    float: right;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: right;
}

.node-type-story {
	#content-inner {
		
		p {
			&.submitted a {
				font-weight: normal;
			}
			@include content-blue-links-orange-hover;
			a {
				font-weight: bold;
			}
		}
	}
	@include social-media-links;
	.field-name-taxonomy-vocabulary-1 {
		//The links show up at the bottom of post...this reorders them to align horizontally with node links
		float: left;
	    position: relative;
	    top: -38px;
		.field-label {
			font-size: 0.91666em;
		    text-transform: uppercase;
			padding-right: 1.6em;
			float: left;
		}
		.field-items {
			float: left;
			.field-item {
				display: inline;
			    list-style-type: none;
			    padding: 0 1.6em 0 0;
				a {
					text-transform: uppercase;
					color: #42829E;
					font-size: 0.91666em;
					&:hover{
						color: #F58431;
					}
				}
			}
		}
	}
	.node ul.links {
		/*We increase the padding as a hack*/
		padding-bottom: 2.2em;
	}
	.free-nodelinks ul li.comment-add {
		float: right;
	}
}

/*Users Page*/

#completed {
        background: #FF776B;
        float: left;
        color: white;
        padding: 2px;
        width: 8em;
        font-weight: bold;
        margin: 0 0 6px 0;
}

#running {
        background: #67cc02;
        float: left;
        color: white;
        padding: 2px;
        width: 8em;
        font-weight: bold;
        margin: 0 4px 6px 0;
}

#suspended {
		background: #fe9902;
        float: left;
        color: white;
        padding: 2px;
        width: 8em;
        font-weight: bold;
        margin: 0 4px 6px 0;
}

.pane-deployments {
	float:left;
	clear: both;
	width: 100%;
	h2 {
		color: #4D4D4D;
	    font-size: 1.66666em;
	    line-height: 1.2em;
	    margin-bottom: 0.6em;
	    margin-top: 0.6em;
	}
}

#mapkey {
	overflow: hidden;
        float: right;
}

#mapkey h2 {
        text-align: right;
        display: none;
}

.view-Deployments {
    float: left;
    margin: 0 1em 1em 0;
    width: 100%;
	.views-exposed-widgets {
		width: 100%;
	}
	.views-exposed-form .views-exposed-widget {
	    float: left;
	    padding: 0.5em 5em 0 0;
		&.views-submit-button {
			float: right;
		    padding: 0.5em 0 0 0;
			/*Theming the actual button*/
			.form-submit {
			    background-color: #F58431;
			    border: medium none;
			    color: #FFFFFF;
			    cursor: pointer;
			    font-weight: bold;
			    margin-top: 1.1em;
			    padding: 3px 11px 3px 13px;
			}
		}
	}
	
	/*Theming the users table*/
	.views-table {
		width: 100%;
	}
	
	.views-field-field-link {
		text-align: center;
	}
	
}

#Running {
        background: url("../../../modules/gmap/markers/small/green.png") no-repeat scroll center 0 transparent;
        padding: 3px;
        margin-left: 2px;
}

#Suspended {
        background: url("../../../modules/gmap/markers/small/orange.png") no-repeat scroll center 0 transparent;
        padding: 3px;
        margin-left: 2px;
}

#Completed {
        background: url("../../../modules/gmap/markers/small/red.png") no-repeat scroll center 0 transparent;
        padding: 3px;
        margin-left: 2px;
}

th.views-field-name {
        text-align: center;
}

.view-Deployments .view-header {
		margin-bottom: 15px;
}

.view-Deployments .view-header {
        margin-bottom: 15px;
}

.view-Deployments .view-header a:link, .view-Deployments .view-header a:visited {
        color: #42829E;
}

.view-Deployments .view-header a:hover {
        color: #F58431;
}


/*Individual User Pages*/
.node-type-users {
	p.submitted {
		font-style: italic;
	    margin: 1em 0;
	}
	
	.field-name-field-video {
		text-align: center;
	}
}

//A user page, for an authenticated, registered user -- not anonymous
.page-user {
	#content-inner {
		.profile {
			//below we need the field labels and data look presentable that's all
			.field-label {
				font-weight: bold;
			    margin: 0 0 0.2em;
			}
			.field-item {
				margin: 0 0 1em;
			}
		}
	}
}

//Page used when editing/adding users
.page-node-add-users {
	.form-field-name-field-video {
		a {
			&.button.launcher, &.button.remove {
				font-size: 1.2em;
				font-weight: bold;
				padding: 5px;
			}
		}
	}
	.form-item-field-sector-und select {
		height: 11em;
	}
}

form#webform-client-form-164 {
	p {
		border-bottom: 1px solid #DDDDDD;
		font-size: 120%;
		margin: 30px 0 15px;
		padding-bottom: 4px;
		width: 84%;
	}
	.form-item label.option {
		position: relative;
		top: 1px;
	}
}

//touch ups
.form-checkboxes .form-item, .form-radios .form-item {
	margin: 0.4em 0;
}
